<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rosedu.dandroid.dateandtime" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.DateAndTimeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.rosedu.dandroid.dateandtime.intent.action.DateAndTimeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="dateandtimeprotocol"
                    android:host="dandroid.rosedu.org" />
            </intent-filter>
        </activity>
        <receiver android:name=".controller.DateAndTimeBroadcastReceiver">
            <intent-filter>
                <action android:name="org.rosedu.dandroid.dateandtime.broadcastreceiver.action.DateAndTimeActivity"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
